@import "tailwindcss";

@theme {
    --color-primary: #edeff2;
    --color-secondary: #0a0a0a;
    --color-accent: #f5f7f9;
    --color-MainText: #3c52e4;
}

/* In your global CSS file */

/* Styles the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
  height: 8px; /* Adjust height for horizontal scrollbar */
}

/* Styles the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Tailwind 'gray-100' equivalent */
}

/* Styles the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #646464; /* Tailwind 'gray-500' equivalent */
  border-radius: 4px; /* Optional: adds rounded corners */
}

/* Optional: Styles the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Tailwind 'gray-700' equivalent */
}